body {
    background-color: #f8f9fa;
}

.table-responsive {
    margin-top: 40px;
}

.table thead th {
    background-color: #3e5067;
    color: white;
}

.view-btn {
    background-color: #3e5067;
    color: white;
}

@media (max-width: 576px) {
    .table {
        font-size: 0.9rem;
    }
}
